html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.home {
  background: linear-gradient(135deg, #021a1a 0%, #033c2e 100%); /* Example matching your current look */
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-family: Mogra;
  color: aliceblue;
  padding: 170px;
  min-height: fit-content;
  font-size: 40px;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}
